<h1>{{this.locationName}}</h1>
<h5>{{this.address}}</h5>
<li>
  <ul>{{this.rating}}</ul>
  <ul>{{this.cleanlinessRating}}</ul>
  <ul>{{this.genderNeutral}}</ul>
  <ul>{{this.handicap}}</ul>
  <ul>{{this.multiPly}}</ul>
  <ul>{{this.alwaysOpen}}</ul>
  <ul>{{this.mChanging}}</ul>
  <ul>{{this.fChanging}}</ul>
  <ul>{{this.airDryer}}</ul>
  <ul>{{this.itsLit}}</ul>
  <ul>{{this.feminineProducts}}</ul>
  <ul>{{this.sharps}}</ul>
  <ul>{{this.description}}</ul>
</li>