<h1>{{Jon.locationName}}</h1>
<h5>{{Jon.address}}</h5>
<li>
  <ul>{{Jon.rating}}</ul>
  <ul>{{Jon.cleanlinessRating}}</ul>
  <ul>{{Jon.genderNeutral}}</ul>
  <ul>{{Jon.handicap}}</ul>
  <ul>{{Jon.multiPly}}</ul>
  <ul>{{Jon.alwaysOpen}}</ul>
  <ul>{{Jon.mChanging}}</ul>
  <ul>{{Jon.fChanging}}</ul>
  <ul>{{Jon.airDryer}}</ul>
  <ul>{{Jon.itsLit}}</ul>
  <ul>{{Jon.feminineProducts}}</ul>
  <ul>{{Jon.sharps}}</ul>
  <ul>{{Jon.description}}</ul>
</li>