<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <h4>{{Jon.address}}</h4>
            <div class="card" style="max-width: 500px; min-width: 350px;">

                <div class="card-body">
                    <h5 class="card-title">{{Jon.locationName}}</h5>
                    <p class="card-text">{{Jon.description}}</p>
                    <ul>
                        <li>
                            <p>General Rating:</p>{{Jon.rating}}
                        </li>
                        <li>
                            <p>Gender Neutral:</p>{{Jon.genderNeutral}}
                        </li>
                        <li>
                            <p>Handicapped:</p>{{Jon.rating}}
                        </li>
                        <li>
                            <p>Male Changing Station:</p>{{Jon.rating}}
                        </li>
                        <li>
                            <p>Female Changing Station:</p>{{Jon.rating}}
                        </li>
                        <li>
                            <p>Air Dryer:</p>{{Jon.rating}}
                        </li>
                        <li>
                            <p>Well Lit:</p>{{Jon.rating}}
                        </li>
                        <li>
                            <p>Feminine Products:</p>{{Jon.rating}}
                        </li>
                        <li>
                            <p>Sharps Container:</p>{{Jon.rating}}
                        </li>

                    </ul>


                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>