<div class="container">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-6">
      <h4>{{Jon.address}}</h4>
      <div class="card" style="max-width: 500px; min-width: 350px;">

        <div class="card-body">
          <h5 class="card-title">{{Jon.locationName}}</h5>
          <p class="card-text">{{Jon.description}}</p>
          <ul>
            <li>
              <p>General Rating:</p>{{Jon.rating}}
            </li>
            <li>
              <p>Gender Neutral:</p>{{Jon.genderNeutral}}
            </li>
            <li>
              <p>Handicapped:</p>{{Jon.handicap}}
            </li>
            <li>
              <p>Male Changing Station:</p>{{Jon.mChanging}}
            </li>
            <li>
              <p>Female Changing Station:</p>{{Jon.fChanging}}
            </li>
            <li>
              <p>Air Dryer:</p>{{Jon.airDryer}}
            </li>
            <li>
              <p>Well Lit:</p>{{Jon.itsLit}}
            </li>
            <li>
              <p>Feminine Products:</p>{{Jon.feminineProduct}}
            </li>
            <li>
              <p>Sharps Container:</p>{{Jon.sharps}}
            </li>

          </ul>


          <a href="/" class="btn btn-primary">Go Back</a>
        </div>
      </div>

    </div>
    <div class="col-4">
      <div id='map'></div>
    </div>
  </div>

</div>

<script>
  var arr = [];
  var geoJson;

  mapboxgl.accessToken = 'pk.eyJ1IjoiZnh0emhvdSIsImEiOiJjazEwMTJncDgwMHp1M3BtdjkxZ3FicDY2In0.8rLpErDOJ5DGEOsiybn8Og';

  var map = new mapboxgl.Map({
    container: 'map', // Container ID
    style: 'mapbox://styles/mapbox/streets-v11', // Map style to use
    center: [-121.4942, 38.5778], // Starting position [lng, lat]
    zoom: 15, // Starting zoom level
  });

  $.ajax({
    url: "api/Jons",
    type: "GET"
  }).then(function (response) {
    console.log(response);
    var arr = [];
    for (var i = 0; i < response.length; i++) {
      var geo = {
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: [response[i].long, response[i].lat]
        },
        properties: {
          title: response[i].locationName,
          address: response[i].address,
          message: response[i].description,
          link: "/Jon/" + response[i].id,
          id: response[i].id,
          icon: "circle",
          iconSize: [30, 30]
        },
      };
      //var marker = new mapboxgl.Marker() // Initialize a new marker
      //  .setLngLat([response[i].long, response[i].lat]) // Marker [lng, lat] coordinates
      //  .addTo(map); // Add the marker to the map
      arr.push(geo);
    }
    geoJson = {
      type: 'FeatureCollection',
      features: arr,
    };
  });

  map.on('load', function () {
    // Add a layer showing the places.
    console.log(geoJson);

    geoJson.features.forEach(function (marker) {
      console.log(marker);

      var pop = new mapboxgl.Popup()
        .setLngLat(marker.geometry.coordinates)
        .setMaxWidth("200px")
        .setHTML('<h5>' + marker.properties.title + '</h5><p>' + marker.properties.message + "</p><a href=" + marker.properties.link + "> Link </a>")
        .addTo(map);

      var el = document.createElement('div');
      el.id = 'marker';

      // add marker to map
      marker = new mapboxgl.Marker()
        .setLngLat(marker.geometry.coordinates)
        .setPopup(pop)
        .addTo(map);
    });
  });




</script>