<div class="container mb-4">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-6 float-left">

      <div class="card" style="max-width: 500px; min-width: 350px;">

        <div class="card-body">
          <h5 class="card-title text-center">{{Jon.locationName}}</h5>
          <h6 class="text-center">{{Jon.address}}</h6>
          <p class="card-text text-center"><em>{{Jon.description}}</em></p>
          <ul>
            <li>
              <p><strong>General Rating:</strong>{{Jon.rating}}</p>
            </li>
            <li>
              <p><strong>Gender Neutral:</strong>{{Jon.genderNeutral}}<p></p>
            </li>
            <li>
              <p><strong>Handicapped:</strong>{{Jon.handicap}}</p>
            </li>
            <li>
              <p><strong>Male Changing Station:</strong>{{Jon.mChanging}}</p>
            </li>
            <li>
              <p><strong>Female Changing Station:</strong>{{Jon.fChanging}}</p>
            </li>
            <li>
              <p><strong>Air Dryer:</strong>{{Jon.airDryer}}</p>
            </li>
            <li>
              <p><strong>Well Lit:</strong>{{Jon.itsLit}}</p>
            </li>
            <li>
              <p><strong>Feminine Products:</strong>{{Jon.feminineProducts}}</p>
            </li>
            <li>
              <p><strong>Sharps Container:</strong>{{Jon.sharps}}</p>
            </li>

          </ul>


          <a href="/" class="btn btn-primary">Back to Map</a>

          <a href="/submit" class="btn btn-primary">Submit Bathroom</a>
        </div>
      </div>

    </div>
    <div class="col-sm-4 col-md-4">
      <div id='map'></div>
    </div>
  </div>

</div>

<script>
  var arr = [];
  var geoJson;

  mapboxgl.accessToken = 'pk.eyJ1IjoiZnh0emhvdSIsImEiOiJjazEwMTJncDgwMHp1M3BtdjkxZ3FicDY2In0.8rLpErDOJ5DGEOsiybn8Og';

  var map = new mapboxgl.Map({
    container: 'map', // Container ID
    style: 'mapbox://styles/mapbox/streets-v11', // Map style to use
    center: [-121.4942, 38.5778], // Starting position [lng, lat]
    zoom: 15, // Starting zoom level
  });

  $.ajax({
    url: "api/Jons",
    type: "GET"
  }).then(function (response) {
    console.log(response);
    var arr = [];
    for (var i = 0; i < response.length; i++) {
      var geo = {
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: [response[i].long, response[i].lat]
        },
        properties: {
          title: response[i].locationName,
          address: response[i].address,
          message: response[i].description,
          link: "/Jon/" + response[i].id,
          id: response[i].id,
          icon: "circle",
          iconSize: [30, 30]
        },
      };
      //var marker = new mapboxgl.Marker() // Initialize a new marker
      //  .setLngLat([response[i].long, response[i].lat]) // Marker [lng, lat] coordinates
      //  .addTo(map); // Add the marker to the map
      arr.push(geo);
    }
    geoJson = {
      type: 'FeatureCollection',
      features: arr,
    };
  });

  map.on('load', function () {
    // Add a layer showing the places.
    console.log(geoJson);

    geoJson.features.forEach(function (marker) {
      console.log(marker);

      var pop = new mapboxgl.Popup()
        .setLngLat(marker.geometry.coordinates)
        .setMaxWidth("200px")
        .setHTML('<h5>' + marker.properties.title + '</h5><p>' + marker.properties.message + "</p><a href=" + marker.properties.link + "> Link </a>")
        .addTo(map);

      var el = document.createElement('div');
      el.id = 'marker';

      // add marker to map
      marker = new mapboxgl.Marker()
        .setLngLat(marker.geometry.coordinates)
        .setPopup(pop)
        .addTo(map);
    });
  });




</script>