<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <h4>{{Jon.address}}</h4>
      <div class="card" style="max-width: 500px; min-width: 350px;">

        <div class="card-body">
          <h5 class="card-title">{{Jon.locationName}}</h5>
          <p class="card-text">{{Jon.description}}</p>
          <ul>
            <li>
              <p>General Rating:</p>{{Jon.rating}}
            </li>
            <li>
              <p>Gender Neutral:</p>{{Jon.genderNeutral}}
            </li>
            <li>
              <p>Handicapped:</p>{{Jon.handicap}}
            </li>
            <li>
              <p>Male Changing Station:</p>{{Jon.mChanging}}
            </li>
            <li>
              <p>Female Changing Station:</p>{{Jon.fChanging}}
            </li>
            <li>
              <p>Air Dryer:</p>{{Jon.airDryer}}
            </li>
            <li>
              <p>Well Lit:</p>{{Jon.itsLit}}
            </li>
            <li>
              <p>Feminine Products:</p>{{Jon.feminineProduct}}
            </li>
            <li>
              <p>Sharps Container:</p>{{Jon.sharps}}
            </li>

          </ul>


          <a href="/" class="btn btn-primary">Go Back</a>
        </div>
      </div>
    </div>
  </div>
</div>